@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body, section, article,
h1, h2, h3, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

header {
	background: rgba(0, 0, 255, .1);
	text-align: center;
}

h1 {
	font-weight: 700;
	font-size: 48px;
}

.frontpage-story {
	background: #DDF;
	margin: 10px;
	border-radius: 10px;
	padding: 5px;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

body {
	font-family: Lato, sans-serif;
}

p {
	font-size: 12px;
}